.game-widget {
  .input-label {
    width: 100%;
  }
  .input-text {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .btn-class {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  .btn:hover {
    background: #dc3545;
  }
  .btn:active:focus {
    color: #ffffff;
  }
  .btn:focus {
    background: #dc3545;
    color: #ffffff;
  }
  .btn-center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
